body::before {
    display: block;
    content: '';
    height: 1.125rem;
}

*{
    font-family: 'Roboto Mono', monospace;
}

.navbar{
    font-family: 'Roboto Mono', monospace;
}

.contact {
    border: #ffc107 solid 2px; 
    padding: 2rem;
}

@media (max-width: 992px){

    .contact{
        padding: 0;
    }

    .detail{
        width: 22rem;
    }
}